<!DOCTYPE html>
<html ng-app>
<head>
  <script src="angular.js"></script>
  <script src="iterator.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <input id="textFilter" type="text" ng-model="search" placeholder="Search" />
  <h4> Lijstje </h4>
  <div ng-controller="listIter">
    <ul>		
    <li ng-repeat="fooditem in foods | filter:search" >
       {{fooditem.text }}
    </li>
    </ul>
    <input id="newItem" type="text" ng-model="food" placeholder="Add new item"/>
    <button ng-click="addFood()"> Add food item </button>
  </div>
</body>
</html>
