<!DOCTYPE html>
<html ng-app='foodApp'>
<head>
  <script src="angular.js"></script>
  <script src="iterator.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <input id="textFilter" type="text" ng-model="search" placeholder="Search" />
  <h4>Boodschappenlijstje </h4>
  <div ng-controller="foodControl">
    <div os-listcopy foods='foods'></div>
    <input id="newItem" type="text" ng-model="food" placeholder="Add new item"/>
    <button ng-click="addFood()"> Add food item </button>
  </div>

  <h4>LabelNamen</h4> 
  <div ng-controller='labelControl'>
    <ul>
      <li ng-repeat="label in labels" >{{label}}</li>
    </ul> 
  </div>
</body>
</html>
